
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("index", "home", FormMethod.Post))
    {
    <div class="">
        <label> اسم الشركة</label>

        <input type="text" name="CompanyName" />
    </div>
        
        <label> الرقم الضريبي</label>
        <input type="text" name="TaxNumber" />
        <br />
        <label> الوقت والتاريخ</label>
        <input type="datetime" name="BillDateTime" />
        <br />
        <label> اجمالي الفاتوره مع الضريبة</label>
        <input type="text" name="TotalAfterVAT" />
        <br />
        <label> قيمة الضريبة</label>
        <input type="text" name="TotalVAT" />
        <br />
        <input type="submit" value="Generate" />


    }
    <hr />

    @if (ViewBag.QrCode != null)
    {
        <img src="@ViewBag.QrCode" style="width:200px;height:200px;" />
    }
</div>
